body {
  font-family: "Raleway", sans-serif;
  background: #d1c0ad6d;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  width: 100%;
  display: block;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/musee-elysee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(226, 225, 210);
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 20px;
  margin: 0;
  text-transform: uppercase;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 20px;
}
header a:hover {
  opacity: 85%;
}

main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: black;
  opacity: 0.5;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  opacity: 0.7;
}

footer {
  padding: 100px 0;
  margin: 0 auto;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

footer a {
  color: rgb(122, 100, 34, 1);
  opacity: 0.7;
  text-decoration: none;
}
footer a:hover {
  color: rgb(220, 41, 94);
}
@media (max-width: 900px) {
  header {
    padding: 80px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    padding: 15px 30px;
    border-radius: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
